ChallengeResponseAuthentication no
LogLevel DEBUG1
UsePAM yes
X11Forwarding yes
PrintMotd yes
AcceptEnv LANG LC_*
PermitRootLogin no
PasswordAuthentication yes
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes
ClientAliveInterval 600
ClientAliveCountMax 4
Subsystem       sftp    /usr/lib/openssh/sftp-server
PubkeyAcceptedKeyTypes ecdsa-sha2-nistp384,ecdsa-sha2-nistp521
HostbasedAcceptedKeyTypes ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521
HostKeyAlgorithms ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521
